.hero.hero-main {
    background-color: #9DBBF8;
    color: #1b1b1b;
    max-height: 760px;
}

.hero-main h1 {
    margin-bottom: 24px;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 64px;
}

h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 44px;
}

p.body1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

p.body1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.section.why-hkbu {
    background-color: #ECECEC;
}

.flex-container {
    display: flex;
}

.flex-item {
    height: 50px;
    width: 150px;
    line-height: 50px;
    text-align: center;
    margin: 5px;
}

.circle__progress--fill {
    --initialStroke: 0;
    --transitionDuration: 0;
    stroke-opacity: 1;
    stroke-dasharray: var(--initialStroke);
    stroke-dashoffset: var(--initialStroke);
    transition: stroke-dashoffset var(--transitionDuration) ease;
  }
  

@import url('https://fonts.googleapis.com/css?family=Nixie+One|Raleway:200');

.circle {
    position: relative;
  }
  
  .percent {
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    transform: translate(-50%, -50%);
  }
  
  .percent__int { font-size: 28px; }
  .percent__dec { font-size: 12px; }
  
  .label {
    font-family: 'Raleway', serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
  }

#copyright {
    margin: 1% auto 1% 5%;
}

#social_media {
    float: right;
}