<!--aginate.ejs-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
</head>

<body>
    <section class="section">
        <div class="container" id="app">
            <div class="card" v-for="booking in bookings">
                <header class="card-header">
                    <p class="card-header-title">
                        {{booking.name}}
                    </p>
                </header>
                <div class="card-content">
                    <div class="content">
                        {{booking.numTickets}}
                    </div>
                </div>
            </div>
            <br>

            <nav class="pagination" role="navigation" aria-label="pagination">
                <button class="pagination-previous" v-bind:disabled="isFirstPage"
                    v-on:click="fetchData(limit, offset - limit)">Previous</button>
                <button class="pagination-next" :disabled="isLastPage"
                    v-on:click="fetchData(limit, offset + limit)">Next page</button>
                <ul class="pagination-list">
                    <li>
                        <a class="pagination-link" @click="fetchData(limit, 0)">1</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a v-if="!isFirstPage" class="pagination-link"
                            @click="fetchData(limit, offset - limit)">{{currentPageNumber -
                            1}}</a>
                    </li>
                    <li>
                        <a class="pagination-link is-current"
                            @click="fetchData(limit, offset)">{{currentPageNumber}}</a>
                    </li>
                    <li>
                        <a v-if="!isLastPage" class="pagination-link"
                            @click="fetchData(limit, offset + limit)">{{currentPageNumber +
                            1}}</a>
                    </li>
                    <li>
                        <span class="pagination-ellipsis">&hellip;</span>
                    </li>
                    <li>
                        <a class="pagination-link"
                            @click="fetchData(limit, (Math.ceil(numOfRecords / limit) - 1) * limit)">{{Math.ceil(numOfRecords
                            / limit)}}</a>
                    </li>
                </ul>
            </nav>
            <div class="columns">
                <b-input class="column" v-model="limit"></b-input>
                <div class="column">
                    <button class="button is-warning" @click="fetchData(limit, 0)">GO!</button>
                </div>
            </div>
        </div>

    </section>
    <script src="https://unpkg.com/vue"></script>
    <!-- Full bundle -->
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

    <!-- Individual components -->
    <script src="https://unpkg.com/buefy/dist/components/table"></script>
    <script src="https://unpkg.com/buefy/dist/components/input"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                numOfRecords: parseInt("<%= numOfRecords %>"),
                bookings: [],
                currentPageNumber: 1,
                limit: 2,
                offset: 0,
            },
            computed: {
                isFirstPage: function () { return (this.offset < this.limit) },
                isLastPage: function () { return (this.offset + this.limit >= this.numOfRecords) },
            },
            methods: {
                fetchData: async function (limit, offset) {

                    var response = await fetch("/bookings/vaginate?limit=" + limit + "&offset=" + offset);

                    if (response.ok) {
                        var bookings = await response.json();
                        this.bookings = bookings;
                        // Text -> Number
                        this.limit = Math.max(limit, 2) || 2;
                        this.offset = offset;

                        this.currentPageNumber = Math.floor(offset / limit) + 1;
                        // `this` inside methods points to the Vue instance

                    } else {
                        alert(response.statusText);
                    }
                },
            },
            // Once loaded into DOM, will automatically fetched
            mounted: function () {
                this.fetchData(this.limit, this.offset);
            },
        })
    </script>

</body>

</html>